$bleu_frismart:#0481b5;
$noir: #393939;
$red: #d3250e;
$yellow: #ffc24f;
$logo_pin_width: 35px;
$light_gray: #f2f1ec;
$darker_gray: #edece8;
$darker_gray2: #676767;
$dark_gray:#555555;
$col_xs: 768px;