@import "colors";
@import "functions";
@import "footer";
body{
  font-family: 'OpenSans-Regular', sans-serif !important;
  background: $light_gray;
}
#menu-flotant{
  background: rgba(#000,0.7);
  padding: 10px 0;

  #nav-logo{
    color: #fff;
    position: relative;
    display: inline-block;
    font-size: 17px;
    font-family: "Arial", sans-serif;
    padding-left: $logo_pin_width;
  }

  #nav-logo:before{
    content: 'b';
    font-family: 'sltc','sans-serif';
    font-size: 34px;
    width: 20px;
    display: block;
    position: absolute;
    color: #fff;
    left: 0;
    top:-10px;
  }

  #menu-toggle{
    color: #ccc;
    padding: 10px;
    cursor: pointer;
    margin: 0 10px;
    @include border-radius(5px);
    border: none;
    background: none;
  }

  #menu-toggle:hover,
  #menu-toggle:focus{
    border-color: #eee;
  }

  form{
    input{
      height: 35px;
      border: none;
    }
    input:first-of-type{
      border-radius: 50px 0 0 50px;
      border-right: solid 1px #ccc;
    }
    button{
      height: 35px;
      border-radius: 0 50px 50px 0;
      margin-left: -30px;
      background: $bleu_frismart;
      color: #fff;
    }
  }
}

#resultats-head{
  background: #fff;
  margin: 15px 0;
  padding: 20px 0;

  strong{
    font-size: 22px;
    font-weight: normal;
    color: $bleu_frismart;
  }
}

#search-results{
  .entreprise.sponsor{
    header{
      background: rgba(255,181,132,0.4);
      position: relative;

    }
    header:after{
      content: 'Lien sponsorisé';
      display: block;
      text-align: center;
      color: #fff;
      background: rgba(249,100,0,0.8);
      position: absolute;
      padding: 5px 8px;
      right: 0;
      top: 0;
    }
  }
  .entreprise{
    margin-bottom: 15px;
    box-shadow: 0 2px 2px #aaa;
    .row{
      display: block;
    }
    header{
      overflow: hidden;
      background: #fff;
      .image{
        background-size: cover;
        background-position: center center;
        height: 200px;
      }

      .col-sm-7{
        padding-top: 15px;

        .rate{
          .fa-star,
          .fa-star-o{
            color: $yellow;
          }
        }

        h4{
          font-size: 22px;
          text-transform: uppercase;
          color: $dark_gray;
        }

        .category{
          margin: 10px 0;
          .category-icon{
            font-size: 30px;
            color: #fff;
            background: $bleu_frismart;
            padding: 8px;
          }
        }

        p{
          font-size: 12px;
          line-height: 17px;
          text-align: justify;
          color: $darker_gray2;
        }
      }
    }
    footer{
      background: $bleu_frismart;
      overflow: hidden;
      a{
        padding: 15px 0;
        color: #fff;
      }
    }
  }
}
#aside{
  background: #fff;

  .publicite{
    margin: 10px 0;

    img{
      width: 100%;
    }
  }

  #map{
    padding: 5px 0;
  }
}


@media (max-width: 440px) {
  #search-results {

  }
}